/*reset*/
*{
	margin: 0;
	padding: 0;
	font-family: "Microsoft Yahei";
}

/*清楚浮动*/
.clearfix{
	zoom:1;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
	zoom:1;
}
/*页面头部*/
header{
	height: 90px;
	background: #333;	
}
header h1{
	float: left;
	width: 200px;
	height: 90px;
	margin-left: 50px;
	background: url(baidu_logo.png) no-repeat;
	background-size:contain;
	background-position: left center;
}
header ul{
	float: right;
	margin-right: 20px;
	margin-top: 40px;
}
header ul li{
	display: inline-block;
	margin-left: 10px;
}
header ul li a{
	color: #fff;
}

/*页面主体*/
.container{
	padding: 20px;
	background: #ccc;
}
.main{
	margin-right: 460px;
}
article,section,aside{
	padding: 20px;
	margin-bottom: 20px;
	background: #fff;
	box-shadow: 2px 2px 5px #333;
	overflow: hidden;
}
article h1{
	font-size: 24px;
	padding: 10px;
	color: #333;
}
article h2{
	font-size: 18px;
	padding: 10px;
	color: #999;
}
article span{
	font-size: 12px;
	padding-left: 10px;
	color: #aaa;
}
article p{
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-indent: 2em;
	color: #333;
	line-height: 28px;
}
article img{
	max-width: 600px;
}
article ul{
	list-style: none;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 2em;
}
article ul li{
	padding: 5px;
	font-size: 14px;
	color: #333;
}
article ol{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 2em;
}
article ol li{
	padding: 5px;
	font-size: 14px;
	color: #333;
}

section{
	margin-top: 20px;
}
section h1{
	font-size: 24px;
	color: #333;
	margin-bottom: 20px;
}
section figure{
	float: left;
	margin-right: 20px;
	padding: 10px;
	width: 160px;
	text-align: center;
	border: 1px solid #333;
	margin-bottom: 20px;
}
section figure img{
	margin-top: 10px;
	width: 100%;
	height: auto;
}

article table{
	width: 100%;
	border-collapse: collapse;
	
}
article table tr {
	border:1px solid #ddd;
	height: 30px;
	font-size: 14px;
	vertical-align: middle;
}
article table thead{
	background: #333;
	color: #333;
}
article table thead{
	background: #333;
	color: #333;
}
article table tfoot{
	background: #ccc;
	color: #333;
	border:none;
	font-weight: bold;
}
/*侧栏部分*/
aside{
	width: 400px;
	float: right;
}
aside h2{
	font-size: 20px;
	height: 30px;
	line-height: 30px;
	margin: 10px;
	color: #333;
}
aside h2 i{
	display: inline-block;
	width: 5px;
	height: 30px;
	vertical-align: middle;
	background: #aaa;
	margin-right: 10px;
}
aside form{
	font-size: 12px;
}
aside form div{
	padding: 20px 0 0 0;
	background: #fff;
}
aside form label{
	display: inline-block;
	width: 100px;
	text-align: right;
	margin-right: 20px;
}
aside form div input[type=text],
aside form div input[type=password]{
	width: 200px;
	height: 24px;
	margin-left: 0;
}
aside form div input[type=radio],
aside form div input[type=checkbox]{
	margin-left: 10px;
	margin-right: 5px;
}
aside form div textarea{
	vertical-align: top;
}
aside form p{
	margin-left: 124px;
	margin-top: 10px;
	color: #ccc;
}
aside form input[type=submit]{
	margin: 20px auto;
	display: block;
	width: 100%;
	background: #01f;
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	color: #fff;
	border:none;
	border-radius: 5px;
}
/*页脚部分*/
footer{
	height: 90px;
	background: #333;
	color: #eee;
	font-size: 14px;
	text-align: center;
	line-height: 90px;
}